<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.basemodule">

    <application android:resizeableActivity="true">

        <!--UI设计图px/2-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="660" />

    </application>
</manifest>